<html>
<head>
<title>Mike Albonesi</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<main class="flex flex-col justify-center items-center">
{{ content | safe }}
</main>
</body>
</html>
